{% block title %}Sign Up for ERPNext{% endblock %}

{% block content %}
<!-- no-sidebar -->

<h1 class="text-center">
	Sign Up
</h1>

<br>
<div class="container" style="max-width: 700px;">
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
			<form role="form">
				<div class="form-group">
					<div class="input-group">
						<input name="subdomain" placeholder="mycompany" class="form-control" type="text">
						<span class="input-group-addon">.timologio.gr</span>
					</div>
					<p class="help-block">Your subdomain i.e.
						https://<strong class="subdomain-help">mycompany</strong>.timologio.gr <br>
						Must contain only letters, no spaces, numbers or special characters.</p>
				</div>

				<div class="form-group">
					<input name="company_name" placeholder="My Company" class="form-control" type="text">
					<p class="help-block">Full Name of your Company</p>
				</div>

				<div class="form-group">
					<input name="company_afm" placeholder="AFM" class="form-control" type="text">
					<p class="help-block">AFM of your Company</p>
				</div>

				<div class="form-group">
					<input name="sender_name" placeholder="Jane Doe" class="form-control" type="text">
					<p class="help-block">Your First and Last Name <em>(will appear in your user id)</em></p>
				</div>

				<div class="form-group">
					<input name="email" placeholder="jane_doe@example.com" class="form-control" type="text">
					<p class="help-block">Your Email Address <em>(your login details will be emailed here)</em></p>
				</div>

				<div class="help">Which Product are you interested in?</div>
				<select name="product">
				    <option value="Product 1">Product 1</option>
				    <option value="Product 2">Product 2</option>
				    <option value="Product 3">Product 3</option>
				</select>
				<br /><br />
				<div id="form-alert" class="alert" style="display: none; margin-bottom: 10px;"></div>
				<button class="btn btn-success btn-request">Send Inquiry</button><br />

				<br>
				<div class="form-group text-center">
					<a class="small blue button btn-request" type="button">Setup My Account</a>
				</div>
			</form>
		</div>
	</div>
</div>



{% endblock %}

{% block script %}
<script>
$(document).ready(function() {

  // button for sign-up event

  $('.btn-request').click(function() {

    // hide any message
    $("#form-alert").toggle(false);

    var args = {
        subdomain: $('[name="subdomain"]').val(),
        sender_name: $('[name="sender_name"]').val(),
        company_name: $('[name="company_name"]').val(),
        company_afm: $('[name="company_afm"]').val(),
        email: $('[name="email"]').val(),
        phone: $('[name="phone"]').val(),
        product: $('[name="product"]').val(),
      }

    // all mandatory
    if(!(args.sender_name && args.company_name && args.email
        && args.phone && args.company_afm && args.subdomain )) {
       msgprint("All fields are necessary. Please try again.");
       return;
    }

// email is valid
		if(!valid_email(args.email)) {
			frappe.msgprint('Please enter a valid Email Address.');
			return false;
		}

		// subdomain in one word
		if(args.subdomain.search(/^[a-z0-9][-a-z0-9]*[a-z0-9]$/)===-1) {
			frappe.msgprint("Sub-domain can only contain letters, numbers and hyphens. Please try again.");
			return false;
		}

		var MAX_LENGTH = 20;
		if(args.subdomain.length > MAX_LENGTH) {
			frappe.msgprint("Sub-domain can not have more than " + MAX_LENGTH + " characters.");
			return false;
		}

    // compose the message
    var message = "Company: " + args.company_name + "\n"
        + "AFM: " + args.company_afm + "\n"
        + "Name: " + args.subdomain+ "\n"
        + "Name: " + args.sender_name + "\n"
        + "Email: " + args.email + "\n"
        + "Phone: " + args.phone + "\n"
        + "Product: " + args.product

    erpnext.send_message({
      subject:'New Website Query',
      sender: $('[name="email"]').val(),
      status: 'Open',
      message: message,
      callback: function(r) {
            // print return message
        msgprint(r.message);

            // clear all inputs
        $(':input').val('');
      }
    });
  });

});

var msgprint = function(txt) {
    $("#form-alert").html(txt).toggle(true);
};
</script>


{% endblock %}

{% block style %}
<style>
.form-group {
	margin-bottom: 30px;
}

[data-html-block="header"] {
	text-align: center;
}

</style>
{% endblock %}
